@model IEnumerable<TiposCuentas>
@{
    ViewData["title"] = "Tipo cuentas";
}
<h1>Tipos Cuentas</h1>
<h5>el tipo cuenta se refiere a como podemos agrupar cuentas.
    ejemplo: Prestamos, tarjetas de credito, ect
</h5>

<a asp-action="Crear" class=" btn btn-primary mb-3">Crear cuenta</a>
<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombres</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var TiposCuentas in Model)
        {
           <tr>
                       <td>
                    <a class="btn btn-primary ">Editar</a>
                    <a class="btn btn-danger">Borrar</a>
                       </td>
               <td>
                   @TiposCuentas.Nombre
               </td>
           </tr> 
        }
    </tbody>
</table>
